<app-header titulo="Mis Favoritos" ></app-header>


<ion-content class="ion-padding" class="card-background-page" class="fondo">
  <!--<ion-card *ngFor="let noticia of favUser " mode="ios">
    <img src="{{noticia.urlIMG}}" routerLink="/ver/{{noticia.key}}"/>
    <ion-card-content>
      <ion-item>
        <ion-card-title>
          {{noticia.titulo}}
        </ion-card-title>
      </ion-item>
      <ion-label ><h6 class="h6">10/02/2020</h6></ion-label>
    </ion-card-content>
  </ion-card>-->


<ion-card mode="md">
  <ion-item-divider *ngFor="let noticia of favUser "  routerLink="/ver/{{noticia.key}}" class="favo">
    <ion-item class="item ios in-list ion-focusable item-label hydrated"  mode="ios">
      <ion-avatar slot="start" class="ios hydrated">
        <img src="{{noticia.urlIMG}}">
      </ion-avatar>
      <ion-label>
        <h3 >{{noticia.titulo}}</h3>
        <ion-label color="primary"><h6 class="h6"> {{noticia.fecha}}/2020</h6></ion-label>
      </ion-label>
    </ion-item>
  </ion-item-divider>
</ion-card>



</ion-content>


