.h6{
   
    color: #4750a3;
}

favo{
   
    margin-left: 50px;
    margin-right: 50px;
}

ion-icon{
    margin-right: -20px;
}

ion-content.fondo {
  --background: url('https://firebasestorage.googleapis.com/v0/b/nscancun-8b56e.appspot.com/o/img%2FGroup%205.png?alt=media&token=6b26aad3-35bb-44a9-9b5e-adbc9caae300') no-repeat center;
}