<ion-header>
  <ion-toolbar>
    <ion-title>mapa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id='map'></div>
  <div *ngFor="let noti of noticias">
    <div id='{{noti.key}}' class="marker">{{noti.key}}</div>
  </div>
</ion-content>