body {
    height:100%;
    margin:0;
    display: flex;
    flex-direction: column;
    padding: 0; }
#map { 
    position: absolute; 
    top: 0; bottom: 0; 
    height:100%;
    width: 100%;
}
.marker {
    background-image: url('https://docs.mapbox.com/mapbox-gl-js/assets/washington-monument.jpg');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    }
     
    .mapboxgl-popup {
    max-width: 200px;
    }

    
.mapboxgl-popup {
    max-width: 200px;
    }