<app-header titulo="Perfil del Reportero" ></app-header>

<ion-content [fullscreen]="true" class="card-background-page fondo">

  <ion-item>
    <ion-card text-center class="hide-card" class="ion-padding" id="tm">
      <img src="{{usuario.photoURL}}" class="custom-avatar"/>
      <ion-card-title color="medium">Nombre<hr color="primary-tint"></ion-card-title>
      <ion-label>{{usuario.Nombre}} {{usuario.Apellidos}}</ion-label>
    </ion-card>
  </ion-item>
  
  <ion-item>
    <ion-card class="wea" class="ion-padding">
      <ion-card-header>
        <ion-card-title color="medium" class="nom">Correo<hr color="primary-tint" class="co"></ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-label>{{usuario.correo}}</ion-label>
      </ion-card-content>
    </ion-card>
  </ion-item>
  <ion-item>
    <ion-card class="wea" class="ion-padding">
      <ion-card-header>
        <ion-card-title class="nume" color="medium">Numero Telefonico<hr color="primary-tint" class="nt"></ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-label>{{usuario.Tel}}</ion-label>
      </ion-card-content>
    </ion-card>
  </ion-item>
  
  <ion-item>
    <ion-card class="wea" class="ion-padding">
    <ion-card-header>
      <ion-card-title class="descrip" color="medium">Descripción<hr color="primary-tint" class="des"></ion-card-title>
    </ion-card-header>

    <ion-card-content>      
      <ion-label>{{usuario.Descripcion}}</ion-label>
    </ion-card-content>
    </ion-card>
  </ion-item>
  

  <h2 class="ion-padding" style="color: cornsilk;">Ultimas noticias subidas...</h2>
  <ion-card *ngFor="let info of noticiasUsua "  text-center class="hide-card">
    <img src="{{info.urlIMG}}" routerLink="/ver/{{info.key}}"/>
    <ion-card-content>
      <ion-card-title>
        {{info.titulo}}
      </ion-card-title>
    </ion-card-content>
  </ion-card>
</ion-content>
