<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Atras" defaultHref="/home" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title text-capitalize> {{ titulo }} </ion-title>
  </ion-toolbar>
</ion-header>