<!-- <app-header [titulo]="titulo || 'Alert Page'" ></app-header> -->
<!-- <app-header titulo="Noticia" ></app-header> -->
<app-menu titulo="Noticia"></app-menu>

<ion-content class="ion-padding" class="card-background-page fondo">
  <!-- si sirve xd -->
  <ion-card>
    <img src="{{noticia.urlIMG}}"/>
  </ion-card>

  <ion-chip (click)="verAutor()" class="chip">
    <ion-avatar>
      <img src="{{autor.photoURL}}">
    </ion-avatar>
    <ion-label style="color:#fff">{{autor.Nombre}} {{autor.Apellidos}}</ion-label>
  </ion-chip>


  <ion-card mode="ios" class="card">
    <ion-card-header>
      <ion-label ><h6 class="h6">{{noticia.fecha}}/2020</h6></ion-label>
    <ion-item class="item">
      <ion-card-title class="title">{{noticia.titulo}}</ion-card-title>
    </ion-item>
    </ion-card-header>
    <ion-card-content>{{noticia.noticia}}</ion-card-content>
  </ion-card>

  <!-- Boton Favorito -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="statusFav; else notFav" class="fab">
    <ion-fab-button color="danger" (click)="addFavoritos()">
      <ion-icon name="heart"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
  <ng-template #notFav>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button color="danger" (click)="deleteFav()">
        <ion-icon name="heart-dislike-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ng-template>
  <!-- Fin Boton Favorito -->
</ion-content>
