ion-chip.chip{
    // --background:#4750a3;
    --background:#000;
        margin-top: -70px;
        margin-left: 14.5px;
        margin-right: 0px;
        margin-bottom: 0px;
        opacity: 0.9;
       --box-shadow: 0.3 2 0.3;
       border-bottom-color: red;
        
        
}

.item{
    margin-right: 25px;

}


.title{
    text-align: center;
}

.card{
    margin-top: -25px;
}

.h6{
    text-align: right;
}

ion-content.fondo {
    --background: url('https://firebasestorage.googleapis.com/v0/b/nscancun-8b56e.appspot.com/o/img%2FGroup%206.png?alt=media&token=e91c2406-6318-42e6-b71b-245454f4a3a3') no-repeat center;
}