
.fondo {
  --background: url('https://firebasestorage.googleapis.com/v0/b/nscancun-8b56e.appspot.com/o/img%2FGroup%206.png?alt=media&token=e91c2406-6318-42e6-b71b-245454f4a3a3') no-repeat center;
}
.hide-card{
    margin: 1cm;
  }
  .wea{
    margin: 1cm;
  }
  
  .wea2{
    margin: 1cm;
  }
  
  .wea3{
    margin: 1cm;
  }
  
  .wea4{
    margin: 1cm;
  }
  
  .wea5{
    margin: 1cm;
  }
  .custom-avatar {
    height: 60vw;
    width: 60vw;
    border: 3px solid #0000;
    border-radius: 50%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
  }

  #tm{
    width: 500px;
    text-align: left;
  }
  
  

  .co {
    height: 1px;
    margin-top: -2px;
    width: 135px;
    margin-left: -40px;
      
  }
  .nom{
    margin-left: -30px;
  }

.nt{
  height: 1px;
  margin-top: -2px;
  width: 300px;
  margin-left: -40px;
    
}

.nume{
  margin-left: -30px;
}

.descrip{
  margin-left: -30px;
}

.des{
  height: 1px;
  margin-top: -2px;
  width: 210px;
  margin-left: -40px;
    
}

 
.ion-padding{
    width: 500px;
  }

  .ion-lable{
    font-size: 20%;
    
  }
  

// ion-content.fondo {
//   --background: url('https://firebasestorage.googleapis.com/v0/b/nscancun-8b56e.appspot.com/o/img%2FGroup%205.png?alt=media&token=6b26aad3-35bb-44a9-9b5e-adbc9caae300') no-repeat center;
// }
// ion-content.fondo {
//   --background: url('') no-repeat center;
// }