<app-header titulo="Noticia de Mexico" ></app-header>

<ion-content>
  <br>
  <ion-card *ngFor="let noti of noticias" mode="ios" >
    <img src="{{noti.urlToImage}}"/>
    <ion-card-content>
      <ion-card-title>
        {{noti.title}}
      </ion-card-title>
      <p>{{noti.description}}</p>
    </ion-card-content>
  </ion-card>

</ion-content>
