label {
	display: block;
	width: 60vw;
	max-width: 300px;
	margin: 0 auto;
	background-color:#2d3687;
	border-radius: 2px;
    font-size: 1em;
    color: white;
	line-height: 2.5em;
  text-align: center;
  border-radius: 6px;
  margin-top: 15;
}

label:hover {
	background-color: #4750a3;
}

label:active {
	background-color:#4750a3;
}
input {
	border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px; 
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

ion-button{
	margin-top: 40px;
    margin-left: 20px;
    margin-right: 30px;
    
}

.descrp{
	padding: initial;
	margin: auto;
	height: auto;
}

ion-item {
	margin-top: 20px;
}