<app-header titulo="Editar Noticia" ></app-header>

<ion-content class="card-background-page">
  <form [formGroup]="notiForm">

    <ion-card mode="ios">
      <div id="preview">
        <img src="{{img}}"/>
        <img class="logo" src="{{img_new}}" *ngIf="img_new!=''"/>
      </div>
      <label for="apply" >
        <input type="file" accept=".png, .jpg" (change)="onUpload($event)" id="apply" >Cambiar Foto 
      </label>
    </ion-card>

    <ion-item>
      <ion-label position="floating">Titulo nuevo</ion-label>
      <ion-input type="text" formControlName="titulo"></ion-input>
    </ion-item>

    <ion-item class="descrp">
      <ion-label position="floating">Nueva Descripcion</ion-label>
      <ion-textarea type="text" formControlName="noticia"></ion-textarea>
    </ion-item>
    
    <!-- no tocar, no borrar -->
    <input [value]="urlImage | async" 
      name="urlIMG"  #imageUser>
    <!--  -->
    <ion-button shape="round" color="primary" href='/vernoticias'
      expand="block" [disabled]="!notiForm.valid" 
      (click)="updateInfo()">Actualizar</ion-button>
  </form>
</ion-content>
