<ion-app>
  <ion-menu side="start" menuId="first" contentId="main">
      <ion-header>
          <ion-toolbar color="primary">
              <ion-title>Ns Cancun</ion-title>
          </ion-toolbar>
      </ion-header>
      <ion-content>
          <ion-list>
              <ion-item href='/home'>
                  <ion-buttons ion-item>
                      <ion-icon item-left name="home" slot="start"></ion-icon>
                      Inicio
                  </ion-buttons>
              </ion-item>

              <ion-item (click)="verPerfil()"  href='{{url}}'>
                <ion-buttons ion-item>
                    <ion-icon  name="person-circle-outline" slot="start"></ion-icon>
                    Mi Perfil
                </ion-buttons>
            </ion-item>

              <ion-item href='/vernoticias'>
                  <ion-buttons ion-item>
                    <ion-icon name="newspaper-outline" slot="start"></ion-icon>
                      Mis Noticias
                  </ion-buttons>
              </ion-item>

              <ion-item href='/favoritos'>
                  <ion-buttons ion-item>
                    <ion-icon name="heart-circle-outline" slot="start"></ion-icon>
                      Favoritos
                  </ion-buttons>
              </ion-item>
              <ion-item href='/notimexico'>
                  <ion-buttons ion-item>
                    <ion-icon name="globe-outline" slot="start"></ion-icon>
                      Noticias de Mexico
                  </ion-buttons>
              </ion-item>
          </ion-list>
      </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>