<app-header titulo="Mis Noticias" ></app-header>

<ion-content class="ion-padding" class="card-background-page fondo">

  <!---<ion-item-divider>
    <ion-button size="large" (click)="obtenerTodas()"> Actualizar</ion-button>
    <ion-button size="large" routerLink="/new-noticia">Nueva noticia</ion-button>
  </ion-item-divider> -->


  <ion-card *ngFor="let info of noticiasUsua "  >
    <img src="{{info.urlIMG}}" routerLink="/ver/{{info.key}}"/>
    <ion-card-content>
      <ion-label ><h6 class="h6">{{info.fecha}}/2020</h6></ion-label>
     <ion-item>
      <ion-card-title>
        {{info.titulo}}
      </ion-card-title>
     </ion-item>
      
  <ion-item-divider>
    <ion-button color="primary"   (click)="edit(info.key)" >
      <ion-icon name="create-outline"></ion-icon>
  </ion-button>

  <ion-button color="danger" slot="end" (click)="delete(info.key)">
    <ion-icon name="trash-outline"></ion-icon>
  </ion-button>
    </ion-item-divider>
    </ion-card-content>
  </ion-card>


 
  <!--<ion-fab vertical="share" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="top">
      <ion-button (click)="obtenerTodas()"><ion-icon name="refresh-circle-outline"></ion-icon></ion-button>
      <ion-button routerLink="/new-noticia"><ion-icon name="newspaper-outline"></ion-icon></ion-button>
    </ion-fab-list>
  </ion-fab>-->
  

  <!-- Boton de añadir nueva noticia -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/new-noticia">
        <ion-icon name="add"></ion-icon>
    </ion-fab-button>
</ion-fab>

</ion-content>
