ion-item-option,ion-button{
    padding-top:2px;
    width: 100px; 
    height: 40px; 
    
}
.h6{
    text-align: right;
}

ion-icon{
    display: block;
    margin: auto;


}
ion-content.fondo {
  --background: url('https://firebasestorage.googleapis.com/v0/b/nscancun-8b56e.appspot.com/o/img%2FGroup%205.png?alt=media&token=6b26aad3-35bb-44a9-9b5e-adbc9caae300') no-repeat center;
}