label {
	display: block;
	width: 60vw;
	max-width: 300px;
	margin: 0 auto;
	background-color:#2d3687;
	border-radius: 2px;
    font-size: 1em;
    color: white;
	line-height: 2.5em;
  text-align: center;
  border-radius: 6px;
  margin-top: 15;
}

label:hover {
	background-color: #4750a3;
}

label:active {
	background-color:#4750a3;
}

input {
	border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px; 
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.card-background-page {

    ion-card {
      position: relative;
      text-align: center;
    }
  
    .card-title {
      position: absolute;
      top: 36%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: #fff;
    }
  
    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #fff;
    }
  
  }

  ion-button{
    margin-top: 80px;
      margin-left: 30px;
      margin-right: 30px;
      
  }
  ion-content.fondo {
    --background: url('https://firebasestorage.googleapis.com/v0/b/nscancun-8b56e.appspot.com/o/img%2FGroup%204.png?alt=media&token=40915edd-204c-4791-9e97-ea64c9afc890') no-repeat center;
  }