label {
	display: block;
	width: 60vw;
	max-width: 300px;
	margin: 0 auto;
	background-color:#2d3687;
	border-radius: 2px;
    font-size: 1em;
    color: white;
	line-height: 2.5em;
  text-align: center;
  border-radius: 6px;
  margin-top: 15;
}

label:hover {
	background-color: #4750a3;
}

label:active {
	background-color:#4750a3;
}

input {
	border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px; 
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

input:hover{
  background-color:#4750a3
}

label:active {
	background-color:#4750a3;
}

.card-background-page {

    ion-card {
      position: relative;
      text-align: center;
      
    }
  
    .card-title {
      position: absolute;
      margin-top:40%;
      top: 35%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: #fff;
    }
  
    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #fff;
      
    }
  
  }

  ion-item{
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 30px;
  }

  ion-button{
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 30px;
    
    
  }