<app-header titulo="Nueva Noticia" ></app-header>

<ion-content class="ion-padding" class="card-background-page">
  <ion-list>
  <form [formGroup]="notiForm">

    <ion-card mode="ios">
      <div id="preview">
        <img class="logo" src="{{img_new}}" *ngIf="img_new!=''"/>
      </div>
      <label for="apply" >
        <input mode="ios" type="file" accept=".png, .jpg" (change)="onUpload($event)" id="apply" >Agregar Foto 
      </label>
    </ion-card>

    <ion-item>
      <ion-label mode="ios" position="floating">Titulo nuevo</ion-label>
      <ion-input type="text" formControlName="titulo" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label mode="ios" position="floating">Nueva Descripcion</ion-label>
      <ion-textarea type="text" formControlName="noticia"></ion-textarea>
    </ion-item>
    
    <!-- no tocar, no borrar -->
    <input [value]="urlImage | async" formControlName="IMG" type="hidden"
      name="urlIMG"  #imageUser>
    <!--  -->
    
    <ion-button mode="ios" shape="round" color="primary" expand="block"
      [disabled]="!notiForm.valid" (click)="addNoticia(imageUser.value)" >
      Crear Noticia
    </ion-button>
  </form>
  </ion-list>
</ion-content>
