<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Inicio
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" class="card-background-page fondo">

    <ion-card  *ngFor="let info of noticias " routerLink="/ver/{{info.key}}" mode="ios">
        <img [src]="info.urlIMG">
        <ion-card-header>
          <ion-card-title>{{info.titulo}}</ion-card-title>
          <ion-card-subtitle>Fecha: {{info.fecha}}/2020</ion-card-subtitle>
          <ion-card-subtitle>Hora: {{info.hora}}:{{info.minuto}}</ion-card-subtitle>
        </ion-card-header>
      </ion-card>


    <!----<div class="blog-card" *ngFor="let info of noticias " routerLink="/ver/{{info.key}}" mode="ios">
        <div class=" meta ">
            <div class="photo " style="background-image: url('{{info.urlIMG}}') " #Fondo></div>--->
            <!-- <img class="photo" src="{{info.urlIMG}}"> -->
           <!---- <ul class="details ">
                <li class="author "><a href="# ">John Doe</a></li>
                <li class="date ">Aug. 24, 2015</li>
                <li class="tags ">
                    <ul>
                        <li><a href="# ">Learn</a></li>
                        <li><a href="# ">Code</a></li>
                        <li><a href="# ">HTML</a></li>
                        <li><a href="# ">CSS</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="description ">
            <h1>{{info.titulo}}</h1>
            <h2>Opening a door to the future</h2>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
            <p class="read-more ">
                <ion-button fill="outline" slot="end">Ver</ion-button>
            </p>
        </div>
    </div>-->

  <!-- Boton de añadir nueva noticia -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button routerLink="/new-noticia">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
