ion-content.fondo {
    --background: url(../../assets/img/fondo1.png) no-repeat center;
}

.centrar {
    text-align: center;
    display: block;
}

.espacio {
    padding-left: 30%;
    padding-top: 50%;
    padding-bottom: 10%;
}

ion-button {
    width: 60%;
    text-align: center;
}

@media screen and (max-height: 775px){
    img{
        width: 70%;
    }
}