
<ion-content [fullscreen]="true" padding class="fondo">
    <div class="espacio">
        <img src="../../assets/img/logo.png" width="200px" height="100px" alt="">
    </div>
    <br>
    <div class="centrar">
        <ion-button  (click)="AlertLogIn()">
            <ion-icon slot="start" name="person-outline"></ion-icon>
            Login
        </ion-button>
        <br>
        <ion-button  (click)="AlertRegister()">
            <ion-icon slot="start" name="person-add-outline"></ion-icon>
            Registro
        </ion-button>
    </div>
</ion-content>